<h1 class="">{{ storeName }}</h1>
<img [src]="storeLogo" class="" alt="{{ storeName }}" />
<h3 class="" *ngIf="Discount != 0">
  We offer an explicit discount of: {{ Discount }}
</h3>
<select name="categories" id="categories">
  <option *ngFor="let category of categoryList" [value]="category.name">
    {{ category.name }}
  </option>
</select>

<input type="text" placeholder="Enter your name" [(ngModel)]="clientName" />
<div *ngIf="isPurchased; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock
  >Thanks for purchasing from our Store {{ clientName }}</ng-template
>
<ng-template #elseBlock>
  <div class="container d-flex flex-wrap justify-content-between" #elseBlock>
    <div
      class="card col-4 my-3 gap-3"
      style="width: 18rem"
      *ngFor="let product of productList"
    >
      <img [src]="product.imgURL" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">${{ product.price }}</p>
        <p class="text-muted">In stock: {{ product.quantity }}</p>
        <a href="#" class="btn btn-primary" (click)="onBuy()">Buy!</a>
      </div>
    </div>
  </div>
</ng-template>
<!-- <table class="table my-3">
  <tr>
    <thead class="table-light">
      <tr class="row">
        <th class="col">ID</th>
        <th class="col">Name</th>
        <th class="col">Quantity</th>
        <th class="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" *ngFor="let product of productList">
        <td class="col">{{ product.id }}</td>
        <td class="col">{{ product.name }}</td>
        <td class="col">{{ product.quantity }}</td>
        <td class="col">{{ product.price }}</td>
      </tr>
    </tbody>
  </tr>
</table> -->
