@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #495057;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}
.navbar .navbar-brand:link {
  color: #f8f9fa;
  font-size: 1.25rem;
}
.navbar .navbar-brand:visited {
  color: #f8f9fa;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active {
  color: #f8f9fa;
}
.navbar .navbar-nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.navbar .navbar-nav .nav-link:link,
.navbar .navbar-nav .nav-link:visited {
  color: #f8f9fa;
  text-transform: uppercase;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
  font-weight: bold;
}

/* NAVBAR */
/* Hero Section */
.hero-section {
  height: 24rem;
  background-image: url("../../img/image1.jpg");
  background-color: transparent;
  background-attachment: scroll;
  background-blend-mode: normal;
  background-size: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8f9fa;
  justify-content: center;
  gap: 2rem;
}
.hero-section h2 {
  font-size: 5rem;
  font-weight: 400;
}
.hero-section .call-to-action-Btn:link,
.hero-section .call-to-action-Btn:visited {
  font-size: 1.5rem;
  border: 1px solid #e63946;
  color: #f8f9fa;
  background-color: #e63946;
  padding: 0.75rem 1.25rem;
  border-radius: 0.3rem;
}
.hero-section .call-to-action-Btn:hover,
.hero-section .call-to-action-Btn:active {
  color: #f8f9fa;
}

/* Hero Section */
/* Card Section */
.cards-container {
  display: flex;
  justify-content: space-evenly;
  height: 14rem;
  align-items: center;
}
.cards-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.cards-container .card h3 {
  font-size: 2rem;
}
.cards-container .card span {
  font-size: 3rem;
}
.cards-container .card p {
  text-align: center;
}

/* Card Section */
/* Get started Section */
.get-started-section {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/lights.jpg");
  background-color: rgba(0, 0, 0, 0.75);
  background-attachment: fixed;
  background-blend-mode: color;
  background-size: cover;
  color: #f8f9fa;
}
.get-started-section h2 {
  font-size: 3rem;
}

/* Get started Section */
/* More info section */
.more-info-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.more-info-section div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.more-info-section div h3 {
  font-size: 2rem;
}
.more-info-section div a:link,
.more-info-section div a:visited {
  font-size: 1.5rem;
  color: #e63946;
  border: 1px solid #e63946;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  width: fit-content;
}
.more-info-section div a:hover,
.more-info-section div a:active {
  color: #f8f9fa;
  background-color: #e63946;
  transition: all 0.2s ease-in-out;
}
.more-info-section img {
  width: 50%;
}

/* More info section */
/* Product section */
.product-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-items: center;
  width: 80%;
  margin: 5rem auto;
}
.product-section section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  height: 10rem;
  color: #f8f9fa;
}
.product-section h3 {
  font-size: 1.5rem;
}
.product-section p {
  text-align: center;
}
.product-section span {
  font-size: 3rem;
}
.product-section section:nth-child(odd) {
  background: #e63946;
}
.product-section section:nth-child(even) {
  background: #495057;
}

/* Product section */

/*# sourceMappingURL=style.css.map */
