@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
    font-size: 18px;
    --color-teal: #168aad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.flex-container {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    gap: 3rem;
}

/* NAVBAR */

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 30%;
    align-items: center;
}

.nav-bar--logo-container img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.nav-bar--navigation {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
}

.nav-bar--navigation---links:link {
    display: flex;
    gap: 0.5rem;
    color: var(--color-teal);
    letter-spacing: 0.1rem;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.nav-bar--navigation---links:visited {
    color: var(--color-teal);
}

.nav-bar--navigation---links:hover,
.nav-bar--navigation---links:active {
    font-weight: bold;
    --ionicon-stroke-width: 2rem;
}

.nav-bar--navigation---links ion-icon {
    vertical-align: middle;
    color: #000;
    font-size: 1.5rem;
}
.nav-bar--more-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav-bar--more-info---twitter-section,
.nav-bar--more-info---facebook-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding-top: 1.5rem; */
}

.nav-bar--more-info---twitter-section----link:link,
.nav-bar--more-info---facebook-section----link:link {
    font-size: 0.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-teal);
    border: 1px solid #e1e1e1;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.nav-bar--more-info---twitter-section----link:visited,
.nav-bar--more-info---facebook-section----link:visited {
    color: var(--color-teal);
    background-color: #fff;
}

.nav-bar--more-info---twitter-section----link:hover,
.nav-bar--more-info---facebook-section----link:hover,
.nav-bar--more-info---twitter-section----link:active,
.nav-bar--more-info---facebook-section----link:active {
    background-color: var(--color-teal);
    color: #fff;
}
.nav-bar--more-info---facebook-section----link ion-icon,
.nav-bar--more-info---twitter-section----link ion-icon {
    font-size: 1rem;
}

.nav-bar--more-info----header {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: 1px dotted #e1e1e1;
    padding-bottom: 0.5rem;
}

.twitter-handle:link,
.twitter-handle:visited,
.twitter-handle:hover,
.twitter-handle:active {
    color: var(--color-teal);
}

/* NAVBAR */

/* MAIN CONTENT */
.main-content--img-container {
    position: relative;
}
.main-content--img-container img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.main-content--img-container---caption {
    position: absolute;
    bottom: 8rem;
    left: 0;
}

.main-content--img-container---caption h4 {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1rem;
}

.main-content--img-container---caption h5 {
    /* display: inline-block; */
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: lighter;
}

/* MAIN CONTENT */

.main-content--navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--color-teal);
    border-radius: 0.2rem;
}

.main-content--navigation li {
    padding: 0.5rem 0;
    width: 25%;
    text-align: center;
    color: var(--color-teal);
    display: inline-block;
    background-color: rgba(22, 138, 173, 0.2);
}

.main-content--navigation li:not(:last-child) {
    border-right: 0.1rem solid var(--color-teal);
}

/* newsletter section */

.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 0.5rem;
}

.newsletter--info {
    gap: 0.8rem;
    display: flex;
    align-items: center;
    width: 65%;
}

.newsletter--info ion-icon {
    font-size: 4rem;
}
/* newsletter section */

/* Top Blogs */

.top-blogs-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.top-blogs-section--blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: space-between; */
    width: 20%;
}

.top-blogs-section--blog span {
    font-size: 0.8rem;
}

.top-blogs-section img {
    width: 100%;
    /* height: 10vh; */
    object-fit: cover;
}

.top-blogs-section--blog a:link,
.top-blogs-section--blog a:visited {
    color: var(--color-teal);
}

.top-blogs-section--blog a:hover,
.top-blogs-section--blog a:active {
    font-weight: bold;
}

.top-blogs-section--blog---link:link,
.top-blogs-section--blog---link:visited,
.top-blogs-section--blog---link:hover,
.top-blogs-section--blog---link:active {
    color: var(--color-teal);
}

/* Top Blogs */

/* Footer */

.footer {
    border-top: 1px solid #e1e1e1;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2rem auto 0 auto;
}

.footer--info---links a:link,
.footer--info---links a:visited,
.footer--info---links a:hover,
.footer--info---links a:active {
    color: var(--color-teal);
}

.footer--social---media a {
    font-size: 2rem;
    color: var(--color-teal);
}
/* Footer */

/* MEDIA QUERIES */

@media (max-width: 1205px) {
    .newsletter--info {
        width: 50%;
    }

    .main-content--paragraph {
        display: none;
    }
}

@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-bar {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .nav-bar--navigation {
        flex-direction: row;
    }

    .nav-bar--navigation---links {
        display: flex;
        flex-direction: column;
        font-size: 0.6rem;
    }

    .nav-bar--more-info {
        display: none;
    }
}

@media (max-width: 600px) {
    .nav-bar {
        width: 100%;
        flex-direction: column-reverse;
        font-weight: bold;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
    }

    .nav-bar--navigation {
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        padding: 1rem;
        justify-content: space-between;
    }

    .nav-bar--navigation---links ion-icon {
        display: none;
    }

    .main-content--navigation {
        display: none;
    }
    .main-content--img-container---caption {
        left: 0;
        bottom: 0;
    }

    .main-content--img-container---caption h4 {
        display: block;
        opacity: 0.5;
    }

    .newsletter {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .newsletter--info {
        width: 100%;
    }

    .top-blogs-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .top-blogs-section--blog {
        width: 100%;
    }
}

/* MEDIA QUERIES */
